
/*=========================MOBILE STYLING==============================*/

/* -------------------PAGE CLASSES------------------ */

/* --------------------HOME PAGE------------------*/


.home-page {
    background-color: #8C8577;
    background-image: url("/images/broken-noise.png");
}

.home-title {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-align: center;
    margin-top: 50vh;
    color: #F2D6BD;
    
}

.home-title:hover {
    transition: 0.2s;
    color: rgb(245, 255, 214);   
    font-size: 35px;
}

/* --------------NAV PAGE----------------- */
.nav-body {
    background-color: #8C8577;;
    background-image: url("/images/broken-noise.png");
}

.nav-menu {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 0;
    text-align: center;
    margin-top: 40vh;
    color: #F2D6BD;

}

/* --------------ABOUT PAGE --------------*/

.about-header {
    font-family: 'Montserrat';
    color:#F2D6BD
}

.about-body {
    background-color: #8C8577;
    background-image: url("/images/broken-noise.png");
    color:#142426;
}

.portrait {
    width: 30%;
    height: 30%;
    margin-left: 35%;
}

#about-impact-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    float: left;
    color:#F2D6BD;
}

.about-p {
    float: left;
    color:#F2D6BD;
}

.languages {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#F2D6BD; 
    text-align: center;
}

li {
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:#F2D6BD; 
}

/* --------------PROJECTS PAGE----------- */
.projects-page {
    background-color: #8C8577;
    background-image: url("/images/broken-noise.png");
    font-family: 'Montserrat', sans-serif;
    color:#F2D6BD;
}

.project-image {
    float: left;
    padding: 1rem;
}

/* ---------------LINKS PAGE-------------- */


.links-page {
    font-family: 'Montserrat', sans-serif;
    background-color: #8C8577;
    background-image: url("/images/broken-noise.png");
    color: #F2D6BD
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-me-on-the-web {
    font-size: 30px;
    text-align: center;
    line-height: 0.5;
    margin-top: 30vh;
}

.links-subhead {
    color:#F2D6BD;
    font-size: smaller;
    line-height: 0;

}


button {
    text-decoration: none;
    padding: 12px 28px;
    margin: 10px;
    border-radius: 4px;
    transition-duration: 0.5;

}

button:hover {
    background-color: lightgray;
    color: white;
}


/*----------- INDIVIDUAL ELEMENTS -------------*/
a {
    text-decoration: none;
    color: #F2D6BD;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: large;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    text-align: center;

}




/*==============================DESKTOP STYLING============================ */

@media (min-width: 480px) {
    body {
        background-color: rgb(233, 26, 26);
        color: white;
    }
    
    #about-impact-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 100px;
        font-weight: 800;
        text-align: center;
        background-color:#8C8577;
        width: 40vw;
        float: right;
        margin-right: 14vw;
        margin-top: 15vh;
    }
}

/* css hover by Ian Lunn https://github.com/IanLunn/Hover */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}

